.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title {
    margin-top: 1rem;
    font-size: 40px;
    font-weight: bolder;
}

.button {
    width: 400px;
    height: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.statusbar {
    display: none;
    width: 390px;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

#stopwatch {
    width: 150px;
    text-align: left;
}

.main {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    text-align: center;
    background-color: rgb(255, 255, 238);
}

button {
    background-color:rgb(250, 250, 211);
    font-size: 20px;
    font-weight: 400;
    font-family: 'YoonchoUsanChildrenS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408@1.0/YoonChildfundkoreaDaeHan.woff2') format('woff2');
    font-weight: normal;
    min-width: 100px;
    height: 40px;
    border-radius: 20px;
    border-width: 0px;
    
}

button:hover {
    font-weight: bold;
    background-color:rgb(250, 252, 174);
}